<?xml version="1.0"?>
<robot name="conveyor_table">
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="darkgray">
    <color rgba=".2 .2 .2 1"/>
  </material>
  <material name="darkred">
    <color rgba=".5 .1 .1 1"/>
  </material>
  <material name="sawyer_red">
    <color rgba=".5 .1 .1 1"/>
  </material>
  <material name="sawyer_gray">
    <color rgba="0.75294 0.75294 0.75294 1"/>
  </material>

   <link name="world" />
  <joint name="world_to_frame" type="fixed">
    <parent link="world"/>
    <child link="frame"/>
  </joint>

    <link name="frame" type="fixed" >
       <visual>
	<origin rpy="0 0 0" xyz="0 0 0" />
	  <material name="black"/>
  	  <geometry>
		<mesh filename="package://sawyer_irl_project/meshes/conveyor_assembly_01.dae"/>
	  </geometry>
       </visual>

	<collision>
          <origin rpy="0 0 0" xyz="0 0 0" />
  	  <geometry>
		<mesh filename="package://sawyer_irl_project/meshes/conveyor_box.stl"/>
	  </geometry>
	</collision>

    <inertial>
       <origin rpy="0 0 0" xyz="1.04 -0.55 1.11"/>
       <mass value="29.18"/>
      <inertia ixx="20.34" ixy="0.09" ixz="0.10" iyy="8.36" iyz="6.14" izz="0.10"/>
    </inertial>
    </link>

</robot>
